langchain
langchain-openai
langchain-experimental
langchain-community
openai

beautifulsoup4
cloudscraper
requests
playwright
chromium

fastapi

python-dotenv
tiktoken

azure-search-documents
azure-identity